#tiempo span {
  font-weight: normal;
}
.contenido {
  padding: 0 30%;
  margin: 10% 0;
}
#btnEnviar {
  margin: 10px 50%;
}

#password,
#usuario {
  margin: 0 10%;
}

#formulario-inicio label {
  margin: 0 10%;
}
